/*

*/





/* Global */

* { margin: 0; padding: 0; }

body
{
	font-size: 12px;
	font-family: arial, verdana, georgia;
	color: #000;
}

@font-face
{
	font-family: GothamMedium;
	src: url(fonts/gotham-medium.otf);
}

@font-face
{
	font-family: GothamBold;
	src: url(fonts/gotham-bold.otf);
}

@font-face
{
	font-family: GothamBook;
	src: url(fonts/gotham-book.otf);
}

h1,h2,h3,h4,h5,p { margin: 10px 0; }

.left { float: left; }

.right { float: right; }

.clear { clear: both; }

img { border: none; }

a { color: #333;}

a:hover { text-decoration:underline; color:#333; }

#main_container
{
	width: 100%;
	margin: 0 auto;
}



/* Header */

#header
{
	padding: 25px 28px;
	border-bottom: 5px #0063a8 solid;
}

.header-cont
{
	width: 768px;
	margin: 0 auto;
}

#logo-nav
{
	width: 160px;
	overflow: hidden;
	float: left;
}

#header-logo
{
	width: 107px;
	height: 48px;
}

#header-logo img
{
	float: left;
}

.menu-arrow
{
	float: left;
	margin: 20px 0 0 20px;
}

.arrow-cont
{
	height: 10px;
	overflow: hidden;
}

.logo
{
	float: left;
	width: inherit;
	height: inherit;
}

.dropdown
{
	list-style: none;
}

.header-button-cont
{
	overflow: hidden;
	float: left;
}

.header-button
{
	float: left;
	margin-left: 38px;

}

.header-button a
{
	text-decoration: none;
	color: #000;
}

.header-button a:hover
{
	color: #0061a8;
}

.header-button a p
{
	font-family: GothamMedium, Arial;
	font-size: 16px;
	margin: 0px;
	padding-top: 15px;
}

.intro-cont
{
	width: 768px;
	margin: 25px auto 0;
	text-align: center;
	border-bottom: 3px #E5E5E5 solid;
}

.intro-cont h1
{
	font-family: GothamBold, "Arial Black";
	font-weight: normal;
	color: #0063a8;
}

.intro-cont h2
{
	font-family: GothamBook, Arial;
	font-weight: 500;
	color: #000;
}


.social_icons { list-style-type: none; float: right; }

.social_icons li { float: left; margin-left: 10px; }

.search_cont { float: right; margin-top: 15px; position: relative; }

.search_cont input[type=text] { width: 176px; height: 23px; border: 1px solid #E5E5E5; }

.search_icon { position: absolute; top: 7px; right: 8px; }



#menu_container { border-top: 1px dotted #DDDDDD; border-bottom: 5px solid #DDDDDD; padding: 0px 28px; }

#menu_container ul { list-style-type: none; float: left; padding: 5px 0; }

#menu_container ul li { float: left; }

#menu_container ul li a { display: block; color: #000; text-decoration: none; padding: 5px 10px; margin: 0 10px; }

#menu_container ul li a:hover { background-color: #000; color: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }

#menu_container ul li.current-menu-item a, #menu_container ul li.current_page_item a  { background-color: #000; color: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }

#menu_container .cat_menu { border-left: 1px dotted #DDDDDD; }



/* Homepage Body */

#content_container
{
	margin: 15px 0 0 0;
	width: 100%;
}

#load_posts_container
{
	width: 768px;
	margin: 0 auto;
}

#other-posts
{
	width: 534px;
	float: left;
	overflow: hidden;
	padding-top: 15px;
	border-right: 2px #E5E5E5 solid;
}

.main-post
{
	border-bottom: 3px #E5E5E5 solid;
	margin: 0;
}

.main-post-image
{
	margin: 0 0 10px;
	padding: 0 0 15px;
	border-bottom: 3px #E5E5E5 solid;
}

.main-post-text
{
	width: 65%;
	float: left;
}

.main-post-tags
{
	width: 35%;
	float: right;
	text-align: right;
}

.main-post-details
{
	color: #000;
	overflow: hidden;
}

.main-post-title h1
{
	font-family: GothamMedium, Arial;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

.main-post-title h1 a
{
	text-decoration: none;
}

.main-post-desc p
{
	font-family: GothamBook, Arial;
	font-size: 16px;
	margin: 10px 0;
}

.main-post-link
{
	width: 150px;
	overflow: hidden;
	margin: 0 0 10px;
}

.main-post-link a
{
	color: #0061a8;
	text-decoration: none;
}

.main-post-link a p
{
	float: left;
	font-family: GothamBook, Arial;
	font-size: 16px;
	margin: 0px 10px 0px 0px;
}

.main-post-link a img
{
	float: left;
	width: 17px;
	height: 17px;
	margin: 1px 0 0;
}

.main-post-tag
{
	overflow: hidden;
	margin: 0 0 10px 10px;
	display: inline-block;
}

.main-tag-left
{
	width: 22px;
	height: 30px;
	background: url('images/tag-left.png') no-repeat;
	background-size: 100% 100%;
	float: left;
}

.main-tag-right
{
	background-color: #0063a8;
	float: left;
	padding: 6px 10px 7px;
}

.main-tag-right a
{
	color: #fff;
	font-family: GothamBook, Arial;
	font-size: 14px;
	text-decoration: none;
}

.home_post_box
{
	float: left;
	width: 516px;
	margin-right: 18px;
	margin-bottom: 25px;
	overflow: hidden;
	position: relative;
	border-bottom: 3px #E5E5E5 solid;
}

.home_blog_box_last { margin-right: 0 !important; }

.home_post_box img
{
	width: 516px;
	height: 318px;
}

.home_post_title_cont
{
	width: 364px;
	text-align: left;
	padding: 0;
	margin-top: 12px;
}

.home_post_title_cont h1
{
	color: #000;
	font-family: GothamMedium, Arial;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

.home_post_title_cont h1 a
{
	text-decoration: none;
}

.home_post_desc
{
	width: inherit;
	padding: 0;
	margin-top: 15px;
	display: block;
	overflow: hidden;
}

.home_post_desc p
{
	color: #000;
	font-family: GothamBook, Arial;
	font-size: 16px;
	margin: 0;
}

.home-post-link
{
	margin-top: 15px;
	margin-bottom: 15px;
}

.load_more_cont
{
	width: 768px;
	margin: 15px auto 25px;
	background-color: #0063a8;
	float: left;
}

.load_more_cont a
{
	overflow: hidden;
	width: inherit;
	text-align: center;
	text-decoration: none;
}

.load-more-button
{
	overflow: hidden;
}

.load-more-button p
{
	color: #fff;
	font-family: GothamMedium, Arial;
	font-size: 16px;
	margin: 12px 0;
}

.right-side
{
	width: 232px;
	overflow: hidden;
	float: right;
}

.email-signup
{
	width: 212px;
	margin: 15px 0 0 19px;
}

.email-header
{
	overflow: hidden;
	background-color: #0063a8;
}

.email-header h3
{
	color: #fff;
	font-family: GothamBook, Arial;
	font-size: 14px;
	font-weight: normal;
	margin: 8px 0 8px 10px;
}

.email-text
{
	/* */
}

.email-text p
{
	font-family: GothamBook, Arial;
	font-size: 14px;
	letter-spacing: -1px;
	margin: 10px 0;
}

.pop-posts
{
	width: 212px;
	margin: 15px 0 0 19px;
}

.pop-container
{
	width: inherit;
}

.pop-post
{
	width: inherit;
	overflow: hidden;
	margin: 15px 0 0 0;
	border-bottom: 1px #E5E5E5 solid;
}

.pop-post a
{
	float: left;
}

.pop-title
{
	float: left;
}

.pop-title a
{
	text-decoration: none;
}

.pop-title a h3
{
	font-family: GothamMedium, Arial;
	font-size: 13px;
	font-weight: normal;
}

.wpp-thumbnail
{
	margin: 0 !important;
}

.sharing-fixed
{
	position: fixed;
	margin-right: -384px;
	top: 0px;
	right: 50%;
}

.blog_left { float: left; width: 660px; }

.blog_left h1 { margin-top: 0; font-size: 17px; }

.blog_nav_cont { padding-bottom: 15px; }

.blog_nav_cont a { color: #000; text-decoration: none; }

.blog_nav_cont a:hover { text-decoration: underline; }



.home_post_box_last { margin-right: 0; }



#commentform input[type=submit] { background-color: #333; border: none; color: #fff; padding: 8px 10px; }



/* Sidebar */

#sidebar { float: right; width: 260px; }

.side_box { margin-bottom: 25px; }

.side_box h3 { background-color: #E4E4E2; padding: 5px 10px; color: #666666; font-size: 16px; margin: 0 0 10px 0; }

.side_box ul { list-style-type: none; padding: 0 10px; }

.side_box ul li { margin-bottom: 3px; }

.side_box .textwidget { padding: 0 10px; }

.side_box a { color: #000; text-decoration: none; }

.side_box a:hover { text-decoration: underline; }



/* Footer */

#footer
{
	width: inherit;
	margin-top: 35px;
	padding: 0;
	background-color: #0061a8; 
	overflow: hidden;
}

.footer_widgets_cont
{
	width: 1000px;
	margin: 25px auto 0;
	padding: 0;
	overflow: hidden;
}


.footer-logo-cont
{
	overflow: hidden;
	width: 130px;
	float: left;
}

.footer-logo-cont p
{
	color: #fff;
	float: left;
}

.footer-logo
{
	float: left;
}

.footer-logo img
{
	width: 102px;
	height: 46px;
}


.footer_box
{
	float: left;
	width: 320px;
	margin-right: 20px; 
	margin-bottom: 20px;
}

.footer_box_last { margin-right: 0; }

.footer_box h3 { font-size: 16px; }

.footer_box a { color: #000; text-decoration: none; }

.footer_box a:hover { text-decoration: underline; }



.footer_box ul, .footer_box ol { list-style-type: none; margin-left: 3px; }

.footer_box ul li, .footer_box ol li { margin-bottom: 3px; }



.footer_copyright { padding: 10px 25px; text-align: right; border-top: 1px dotted #DDDDDD; border-bottom: 1px dotted #DDDDDD; }

.footer_copyright a { color: #000; text-decoration: none; }

.footer_copyright a:hover { text-decoration: underline; }


/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider
{
	margin: 0 0 10px;
	background: #fff;
	position: relative;
	zoom: 1;
}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav
{
	width: 100%;
	position: absolute;
	bottom: -40px;
	text-align: center;
	border-bottom: 3px #E5E5E5 solid;
}

.flex-control-nav li
{
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs
{
	margin: 10px 0 0;
	position: static;
	overflow: hidden;
	height: 68px;
}

.flex-control-thumbs li
{
	width: 50px;
	float: left;
	margin: 2px 7px 0 2px;
	border: 2px #fff solid;
	-moz-box-shadow:    0px 0px 1px 1px #ccc;
	-webkit-box-shadow: 0px 0px 1px 1px #ccc;
	box-shadow:         0px 0px 1px 1px #ccc;
}

.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}








/* for mobile 

@media screen and (max-width: 480px) {



#main_container { width: 320px; }

#header { padding: 10px 0px; }

.logo { float: none; max-width: 300px; margin: 0 auto; }

.search_cont { display: none; }



#menu_container { padding: 0px 0px; width: 320px; margin: 0 auto; }

#menu_container ul { list-style-type: none; width: 150px }

#menu_container ul li { float: none; }

#menu_container ul li a { padding: 5px 10px; margin: 0 0px 5px; }

#menu_container .cat_menu { border-left: none; float: right; }



#content_container { width: 320px; }

.featured_banner { display: none; }

.featured_banner img { width: 320px; height: 32px; }



.blog_box_cont { width: 300px; float: none; margin: 0 auto; }

.blog_content { float: none; width: 300px; margin-left: auto; margin-right: auto; }



.home_post_box { width: 300px; float: none; margin: 0 auto 25px; }

.home_post_box img { width: 300px; height: 200px; }



.home_post_title_cont { width: 300px; }

.home_post_desc { width: 200px; left: 35px; }



.blog_left { float: none; width: 300px; margin: 0 auto; }

.blog_left .left_content img { width: 300px; height:inherit; }

#commentform textarea { width: 300px; }

#sidebar { display: none; }

#footer { display: none; }



}

*/







/* for tablet 

@media only screen and (min-width: 768px) and (max-width: 959px) {



#main_container { width: 728px; }

#header { padding: 10px 0px; }



#menu_container { padding: 0px 0px; }

#content_container { width: 728px; }

.featured_banner img { width: 728px; height: 72px; }





.home_post_box { width: 230px; }

.home_post_box img { width: 230px; height: 109px; }





.home_post_box { width: 346px; margin-left: 9px; margin-right: 9px; }

.home_post_box img { width: 346px; height: 219px; }

.home_post_box_last { margin-right: 9px; }



.blog_box_cont .home_post_box { margin-left: 0; }



home_post_title_cont { width: 231px; }

.home_post_desc { width: 135px; left: 40px; }



.home_post_title_cont { width: 346px; }

.home_post_desc { width: 251px; left: 40px; }



.blog_left { float: left; width: 500px; }

.blog_left .left_content img { width: 500px; height:inherit; }

#sidebar { float: right; width: 200px; }



.footer_widgets_cont { padding: 0 0px 0 0px; }

.footer_box { width: 229px; }





#single_left { width: 500px; }

#single_left .single_content img { max-width: 500px; height: inherit; }

#sidebar { width: 200px; float: right; margin-top: 20px; }





.footer_box { width: 154px; }

.cat_menu_cont { width: 190px; }*/



}











/* @group rounded-corners pics */













/* IE6 fix */

.ie6_width .tr {

	right: -1px;

}



.ie6_width .br {

	right: -1px;

}



.ie6_height .br {

	bottom: -1px;

}



.ie6_height .bl {

	bottom: -1px;

}



/* @end */

