/* Tablet Portrait */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait), only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {

	/* Header */

	#header
	{
		padding: 10px 20px;
	}

	.header-cont
	{
		width: inherit;
	}

	#logo-nav
	{
		display: none;
	}

	.mob-logo-cont
	{
		display: block;
		float: left;
		width: 50%;
	}

	.logo
	{
		width: 161px;
		height: 72px;
	}

	.mob-button-cont
	{
		display: block;
		float: left;
		width: 50%;
	}

	.mob-button
	{
		float: right;
	}

	.mob-button img
	{
		width: 80px;
		height: 72px;
	}

	.header-button-cont
	{
		display: none;
	}

	.mob-dropdown
	{
		display: none;
		position: absolute;
		width: inherit;
		top: 92px;
		left: 0;
		background-color: #0061a8;
		z-index: 399;
	}

	.mob-dropdown ul
	{
		width: inherit;
		margin: 15px 0;
		overflow: hidden;
	}

	.mob-dropdown ul li
	{
		width: inherit;
		padding: 0 20px;
		margin-bottom: 15px;
	}

	.mob-dropdown ul li a
	{
		text-decoration: none;
	}

	.mob-dropdown ul li a p
	{
		color: #fff;
		font-size: 16pt;
		font-family: GothamBold;
		margin: 0;
		letter-spacing: 0.5pt;
	}

	.intro-cont
	{
		width: 728px;
	}

	.intro-cont h1
	{
		font-size: 20pt;
	}

	.intro-cont h2
	{
		font-size: 16pt;
	}

	/* Footer */

	#footer
	{
		padding-bottom: 25px; 
	}

	.footer_widgets_cont
	{
		width: inherit;

	}

	.footer-links a
	{
		/* */
	}

	.footer-links a p
	{
		color: #fff;
		font-size: 16pt;
		font-family: GothamBold;
		margin: 0 0 15px;
		letter-spacing: 0.5pt;
		text-transform: none;
	}

	#fl-col1
	{
		margin: 0;
	}

	#fl-col2
	{
		margin: 0;
	}

	#fl-col3
	{
		float: left;
	}

	.footer-logo-cont
	{
		float: none;
		width: 728px;
		position: relative;
		left: 0px;
		top: 330px;
		margin: 0 auto;
	}

	.footer-logo
	{
		width: 230px;
	}

	.footer-links-cont
	{
		width: 100%;
		float: none;
		position: relative;
		top: -120px;
		width: 728px;
		margin: 0 auto;
	}

	.footer-links
	{
		width: inherit;
	}

	/* index page */

	#load_posts_container
	{
		width: 728px;
	}

	.main-post-text
	{
		width: inherit;
	}

	.main-post-title h2
	{
		font-size: 24px
	}

	.main-post-desc p
	{
		font-size: 19px;
	}

	.main-post-tags
	{
		display: none;
	}

	.main-post-link
	{
		width: 155px;
	}

	.main-post-link a p
	{
		font-size: 22px;
	}

	.main-post-link a img
	{
		width: 22px;
		height: 22px;
		margin: 3px 0 0;
	}

	#other-posts
	{
		width: inherit;
	}

	.home_post_box
	{
		width: inherit;
		margin-right: 0;
	}

	.home_post_box img
	{
		width: 728px;
		height: 352px;
	}

	.home_post_title_cont
	{
		width: inherit;
	}

	.home_post_title_cont h2
	{
		font-size: 24px;
	}

	.home_post_desc p
	{
		font-size: 19px;
	}

	.load_more_cont
	{
		width: inherit;
	}

	.right-side
	{
		display: none;
	}

	.post-info
	{
		width: inherit;
	}

	/* Flexslider */

	.flex-direction-nav a
	{
		top: 37%;
		width: 54px;
		height: 80px;
	}

	#fs-post .flex-direction-nav a
	{
		top: 28%;
	}

	.flexslider-caption
	{
		height: 48px;
		bottom: 0px;
		width: inherit;
		background:  rgba(0, 0, 0, 0.5);
		background: rgb(0, 0, 0)\9; /* IE8 and below */
	}

	.flex-control-thumbs
	{
		margin: 22px auto 0;
		width: 728px;
	}

	.slides li
	{
		height: 372px !important;
	}

	.slides img
	{
		width: 768px !important;
		height: 372px !important;
	}

	/* Individual blog post (single.php) */
	.blog-content
	{
		width: inherit;
	}

	.share-container
	{
		padding: 0 0 18px;
	}

	.ssba img
	{
		/* remember to set custom CSS of this to 0px in the plugin config page */
		width: 60px !important;
	}

	.ssba_sharecount
	{
		margin: 16px 110px 0 6px;
		padding: 0 !important;
		font-size: 20px !important;
	}

	.ssba_email_share
	{
		display: none;
	}

	.printfriendly
	{
		display: none;
	}

	.post-info h1
	{
		font-size: 26px;
	}

	.post-info p
	{
		font-size: 22px;
		margin: 10px 0;
	}

	.post-details
	{
		width: 728px;
		margin: 0 auto;
	}

	.blog-text-container
	{
		width: 728px;
		margin: 0 auto 15px;
	}

	.post-tag-container
	{
		width: 728px;
		margin: 0 auto;
	}

	.post-info h1
	{
		font-size: 26px;
	}

	.blog-text-container h1, .blog-text-container h2, .blog-text-container h3
	{
		width: inherit;
		font-size: 22px;
		line-height: 26px;
	}

	.blog-text-container p
	{
		width: inherit;
		font-size: 20px;
		line-height: 28px;
	}

	.blog-text-container img
	{
		/* for the INFOGRAHPIC post template */
		width: 728px;
		max-height: 1200px;
	}

	.blog-text-container textarea
	{
		width: 712px !important;
	}

	.post-tag-container p
	{
		font-size: 18px;
	}

	.post-tags
	{
		width: inherit;
		margin: 30px 0 0;
	}

	.post-tag
	{
		margin: 0 20px 25px 0;
	}

	.tag-left
	{
		width: 36px;
		height: 45px;
	}

	.tag-right
	{
		padding: 0 10px 0;
		height: 45px;
	}

	.tag-right a
	{
		font-size: 18px;
	}

	/* Category page */

	.cat-header
	{
		width: inherit;
	}

	.cat-desc
	{
		width: inherit;
	}

	.cat-desc p
	{
		font-size: 20px;
	}

	.cat-name h1
	{
		font-size: 28px;
	}

	/* blank page template */

	.blank-content
	{
		width: 728px;
	}

	.blank-header h1
	{
		font-size: 28px;
	}

	.blank-text p
	{
		font-size: 22px;
		line-height: 28px;
	}

	/* 404 page template */
	.error-content
	{
		width: inherit;
	}

	.error-text
	{
		width: 720px;
		margin: 0 auto 25px;
	}

	.error-text h1
	{
		font-size: 28px;
	}

	.error-text p
	{
		font-size: 22px;
		line-height: 28px;
	}

	.error-text p a
	{
		color: #0063a8;
	}

	.recent-post-cont
	{
		width: 728px;
	}

	.recent-post-cont h2
	{
		color: #0063a8;
		font-family: GothamBold, "Arial Black";
		font-size: 24px;
		margin: 0;
	}

	.recent-post
	{
		width: inherit;
		margin: 30px 0 0;
		padding: 0 0 20px;
		border-bottom: 1px #ccc solid;
	}

	.recent-image
	{
		width: 728px;
		height: 352px;
	}

	.recent-image img
	{
		width: 728px;
		height: 352px;
	}

	.recent-text h3
	{
		font-size: 20px;
	}

	.v-divider
	{
		display: none;
	}

	/* Author page */
	.author-cont
	{
		width: 728px;
	}

	.author-info
	{
		width: inherit;
	}

	.author-cont h1
	{
		font-size: 28px;
	}

	.author-description p
	{
		font-size: 20px;
		line-height: 28px;
	}

	/* Destinations Template (dest.php) */
	.destpage-container
	{
		width: 728px;
		margin: 25px auto 0;
	}

	.destpage-container a
	{
		text-decoration: none;
	}

	.destpage-container h2
	{
		color: #0063a8;
		font-family: GothamBold, "Arial Black";
		font-size: 22px;
		margin: 0 0 20px;
	}

	.destpage-bycategories .cat-item
	{
		margin: 0 0 20px;
		width: 50%;
		float: left;
	}

	.destpage-bycategories .cat-item a
	{
		font-family: GothamBold, "Arial Black";
		font-size: 20px;
	}

	#other-dest h2
	{
		color: #000;
	}

	/* Activities page (activities.php) */

	.about-header
	{
		width: 728px;
		margin: 15px auto;
	}

	.about-text-cont hr
	{
		width: 728px;
		margin: 0 auto;
	}
	.actpage-container
	{
		width: inherit;
		height: 510px;
		overflow: hidden;
	}

	.act-button
	{
		width: 50%;
		height: 120px;
		margin: 25px 0 25px;
	}

	.act-button a span
	{
		font-family: GothamMedium, Arial;
		font-size: 18px;
	}

	a.food
	{
		margin: 35px auto 0;
	}

	a.food span
	{
		margin: 64px 0 0 8px;
	}

	a.adventure
	{
		margin: 29px auto 0;
	}

	a.adventure span
	{
		margin: 70px 0 0 -19px;
	}

	a.sport
	{
		margin: 40px auto 0;
	}

	a.sport span
	{
		margin: 58px 0  0 2px;
	}

	a.lifestyle
	{
		margin: 31px auto 0;
	}

	a.lifestyle span
	{
		margin: 66px 0 0 4px;
	}

	a.entertainment
	{
		margin: 33px auto 0;
	}

	a.entertainment span
	{
		margin: 64px 0 0 -41px;
	}

	a.general
	{
		margin: 35px auto 0;
	}

	a.general span
	{
		margin: 62px 0 0 -7px;
	}

	/* About Page */

	.about-text-cont
	{
		width: 728px;
		margin: 0 auto 30px;
	}

	.about-header h1
	{
		font-size: 28px;
	}

	.about-text p
	{
		font-size: 22px;
		line-height: 28px;
	}

	.author-list-cont
	{
		width: 728px;
		margin: 0 auto 30px;
	}

	.author-list-cont h2
	{
		font-size: 24px;
	}

	.author-list
	{
		margin: 0 0 10px;
	}

	.author-list li
	{
		float: none;
		margin: 0 30px 30px 0;
	}

	.author-list li a
	{
		font-size: 22px;
	}
}


/* Tablet Landscape */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 853px) and (orientation: landscape) {

	/* Header */

	#header
	{
		padding: 10px 20px;
	}

	#logo-nav
	{
		display: none;
	}

	.mob-logo-cont
	{
		display: block;
		float: left;
		width: 50%;
	}

	.logo
	{
		width: 161px;
		height: 72px;
	}

	.mob-button-cont
	{
		display: block;
		float: left;
		width: 50%;
	}

	.mob-button
	{
		float: right;
	}

	.mob-button img
	{
		width: 80px;
		height: 72px;
	}

	.header-button-cont
	{
		display: none;
	}

	.mob-dropdown
	{
		display: none;
		position: absolute;
		width: inherit;
		top: 92px;
		left: 0;
		background-color: #0061a8;
		z-index: 399;
	}

	.mob-dropdown ul
	{
		width: 768px;
		margin: 15px auto;
		overflow: hidden;
	}

	.mob-dropdown ul li
	{
		width: inherit;
		padding: 0;
		margin-bottom: 15px;
	}

	.mob-dropdown ul li a
	{
		text-decoration: none;
	}

	.mob-dropdown ul li a p
	{
		color: #fff;
		font-size: 16pt;
		font-family: GothamBold;
		margin: 0;
		letter-spacing: 0.5pt;
	}

	.intro-cont
	{
		width: 728px;
	}

	.intro-cont h1
	{
		font-size: 20pt;
	}

	.intro-cont h2
	{
		font-size: 16pt;
	}

	/* Footer */

	#footer
	{
		padding-bottom: 25px; 
	}

	.footer_widgets_cont
	{
		width: inherit;

	}

	.footer-links a
	{
		/* */
	}

	.footer-links a p
	{
		color: #fff;
		font-size: 16pt;
		font-family: GothamBold;
		margin: 0 0 15px;
		letter-spacing: 0.5pt;
		text-transform: none;
	}

	#fl-col1
	{
		margin: 0;
	}

	#fl-col2
	{
		margin: 0;
	}

	#fl-col3
	{
		float: left;
	}

	.footer-logo-cont
	{
		float: none;
		width: 768px;
		position: relative;
		left: 0px;
		top: 330px;
		margin: 0 auto;
	}

	.footer-logo
	{
		width: 230px;
	}

	.footer-links-cont
	{
		width: 100%;
		float: none;
		position: relative;
		top: -120px;
		width: 768px;
		margin: 0 auto;
	}

	.footer-links
	{
		width: inherit;
	}

	/* index page */

	.main-post-title h2
	{
		font-size: 24px
	}

	.main-post-desc p
	{
		font-size: 19px;
	}

	.main-post-tags
	{
		display: none;
	}

	.main-post-link
	{
		width: 155px;
	}

	.main-post-link a p
	{
		font-size: 22px;
	}

	.main-post-link a img
	{
		width: 22px;
		height: 22px;
		margin: 3px 0 0;
	}

	#other-posts
	{
		width: inherit;
	}

	.home_post_box
	{
		width: inherit;
		margin-right: 0;
	}

	.home_post_box img
	{
		width: 768px;
		height: 372px;
	}

	.home_post_title_cont
	{
		width: inherit;
	}

	.home_post_title_cont h2
	{
		font-size: 24px;
	}

	.home_post_desc p
	{
		font-size: 19px;
	}

	.load_more_cont
	{
		width: inherit;
	}

	.right-side
	{
		display: none;
	}

	.post-info
	{
		width: inherit;
	}

	/* Flexslider */

	.slides li
	{
		height: 372px !important;
	}

	.slides img
	{
		width: 768px !important;
		height: 372px !important;
	}

	/* Individual blog post (single.php) */
	.blog-content
	{
		width: 768px;
	}

	.share-container
	{
		padding: 0 0 18px;
	}

	.ssba img
	{
		/* remember to set custom CSS of this to 0px in the plugin config page */
		width: 60px !important;
	}

	.ssba_sharecount
	{
		margin: 16px 110px 0 6px;
		padding: 0 !important;
		font-size: 20px !important;
	}

	.ssba_email_share
	{
		display: none;
	}

	.printfriendly
	{
		display: none;
	}

	.post-info h1
	{
		font-size: 26px;
	}

	.post-info p
	{
		font-size: 22px;
		margin: 10px 0;
	}

	.post-details
	{
		width: 768px;
		margin: 0 auto;
	}

	.blog-text-container
	{
		width: 768px;
		margin: 0 auto 15px;
	}

	.post-tag-container
	{
		width: 768px;
		margin: 0 auto;
	}

	.post-info h1
	{
		font-size: 26px;
	}

	.blog-text-container h1, .blog-text-container h2, .blog-text-container h3
	{
		width: inherit;
		font-size: 22px;
		line-height: 26px;
	}

	.blog-text-container p
	{
		width: inherit;
		font-size: 20px;
		line-height: 28px;
	}

	.blog-text-container img
	{
		/* for the INFOGRAHPIC post template */
		width: 768px;
		max-height: 1200px;
	}

	.blog-text-container textarea
	{
		width: 712px !important;
	}

	.post-tag-container p
	{
		font-size: 18px;
	}

	.post-tags
	{
		width: inherit;
		margin: 30px 0 0;
	}

	.post-tag
	{
		margin: 0 20px 25px 0;
	}

	.tag-left
	{
		width: 36px;
		height: 45px;
	}

	.tag-right
	{
		height: 45px;
	}

	.tag-right a
	{
		font-size: 18px;
	}

	/* Category page */
	.cat-header
	{
		width: inherit;
	}

	.cat-desc
	{
		width: inherit;
	}

	.cat-desc p
	{
		font-size: 20px;
	}

	.cat-name h1
	{
		font-size: 28px;
	}

	/* blank page template */

	.blank-content
	{
		width: 768px;
	}

	.blank-header h1
	{
		font-size: 28px;
	}

	.blank-text p
	{
		font-size: 22px;
		line-height: 28px;
	}

	/* 404 page template */
	.error-content
	{
		width: inherit;
	}

	.error-image-main
	{
		width: 768px;
		margin: 0 auto;
	}

	.error-image-main img
	{
		width: 768px;
		height: 384px;
	}

	.error-text
	{
		width: 768px;
		margin: 0 auto 25px;
	}

	.error-text h1
	{
		font-size: 28px;
	}

	.error-text p
	{
		font-size: 22px;
		line-height: 28px;
	}

	.error-text p a
	{
		color: #0063a8;
	}

	.recent-post-cont
	{
		width: 768px;
	}

	.recent-post-cont h2
	{
		color: #0063a8;
		font-family: GothamBold, "Arial Black";
		font-size: 24px;
		margin: 0;
	}

	.recent-post
	{
		width: inherit;
		margin: 30px 0 0;
		padding: 0 0 20px;
		border-bottom: 1px #ccc solid;
	}

	.recent-image
	{
		width: 768px;
		height: 372px;
	}

	.recent-image img
	{
		width: 768px;
		height: 372px;
	}

	.recent-text h3
	{
		font-size: 20px;
	}

	.v-divider
	{
		display: none;
	}

	/* Author page */
	.author-cont
	{
		width: 768px;
	}

	.author-info
	{
		width: inherit;
	}

	.author-cont h1
	{
		font-size: 28px;
	}

	.author-description p
	{
		font-size: 20px;
		line-height: 28px;
	}

	/* Destinations Template (dest.php) */
	.destpage-container
	{
		width: 768px;
		margin: 25px auto 0;
	}

	.destpage-container a
	{
		text-decoration: none;
	}

	.destpage-container h2
	{
		color: #0063a8;
		font-family: GothamBold, "Arial Black";
		font-size: 22px;
		margin: 0 0 20px;
	}

	.destpage-bycategories .cat-item
	{
		margin: 0 0 20px;
		width: 50%;
		float: left;
	}

	.destpage-bycategories .cat-item a
	{
		font-family: GothamBold, "Arial Black";
		font-size: 22px;
	}

	#other-dest h2
	{
		color: #000;
	}

	/* Activities page (activities.php) */

	.about-header
	{
		width: 768px;
		margin: 15px auto;
	}

	.about-text-cont hr
	{
		width: 768px;
		margin: 0 auto;
	}
	.actpage-container
	{
		width: inherit;
		height: 410px;
		overflow: hidden;
	}

	.act-button
	{
		width: 50%;
		height: 120px;
		margin: 0 0 25px;
	}

	.act-button a span
	{
		font-family: GothamMedium, Arial;
		font-size: 18px;
	}

	a.food
	{
		margin: 35px auto 0;
	}

	a.food span
	{
		margin: 64px 0 0 8px;
	}

	a.adventure
	{
		margin: 29px auto 0;
	}

	a.adventure span
	{
		margin: 70px 0 0 -19px;
	}

	a.sport
	{
		margin: 40px auto 0;
	}

	a.sport span
	{
		margin: 58px 0  0 2px;
	}

	a.lifestyle
	{
		margin: 31px auto 0;
	}

	a.lifestyle span
	{
		margin: 66px 0 0 4px;
	}

	a.entertainment
	{
		margin: 33px auto 0;
	}

	a.entertainment span
	{
		margin: 64px 0 0 -41px;
	}

	a.general
	{
		margin: 35px auto 0;
	}

	a.general span
	{
		margin: 62px 0 0 -7px;
	}
}