/*

*/





/* Global */

* { margin: 0; padding: 0; }

body
{
	font-size: 12px;
	font-family: arial, verdana, georgia;
	color: #666;
}

@font-face
{
	font-family: GothamMedium;
	src: url(fonts/gotham-medium.otf);
}

@font-face
{
	font-family: GothamBold;
	src: url(fonts/gotham-bold.otf);
}

@font-face
{
	font-family: GothamBook;
	src: url(fonts/gotham-book.otf);
}

h1,h2,h3,h4,h5,p { margin: 10px 0; }

.left { float: left; }

.right { float: right; }

.clear { clear: both; }

img { border: none; }

a { color: #333;}

a:hover { text-decoration:underline; color:#333; }

#main_container
{
	width: 100%;
	margin: 0 auto;
}



/* Header */

#header
{
	padding: 25px 28px;
	border-bottom: 5px #0063a8 solid;
}

.header-cont
{
	width: 1000px;
	margin: 0 auto;
}

#logo-nav
{
	width: 160px;
	overflow: hidden;
	float: left;
	margin-right: 25px;
}

#header-logo
{
	width: 107px;
	height: 48px;
}

#header-logo img
{
	float: left;
}

.menu-arrow
{
	float: left;
	margin: 20px 0 0 20px;
}

.arrow-cont
{
	height: 10px;
	overflow: hidden;
}

.logo
{
	float: left;
	width: inherit;
	height: inherit;
}

.dropdown
{
	list-style: none;
}

.header-button-cont
{
	overflow: hidden;
	float: left;
}

.header-button
{
	float: left;
	margin-right: 80px;

}

.header-button a
{
	text-decoration: none;
	color: #000;
}

.header-button a:hover
{
	color: #0061a8;
}

.header-button a p
{
	font-family: GothamMedium, Arial;
	font-size: 16px;
	margin: 0px;
	padding-top: 15px;
}

.intro-cont
{
	margin-top: 25px;
	text-align: center;
}

.intro-cont h1
{
	font-family: GothamBold, "Arial Black";
	font-weight: normal;
	color: #0063a8;
}

.intro-cont h2
{
	font-family: GothamBook, Arial;
	font-weight: 500;
	color: #000;
}


.social_icons { list-style-type: none; float: right; }

.social_icons li { float: left; margin-left: 10px; }

.search_cont { float: right; margin-top: 15px; position: relative; }

.search_cont input[type=text] { width: 176px; height: 23px; border: 1px solid #E5E5E5; }

.search_icon { position: absolute; top: 7px; right: 8px; }



#menu_container { border-top: 1px dotted #DDDDDD; border-bottom: 5px solid #DDDDDD; padding: 0px 28px; }

#menu_container ul { list-style-type: none; float: left; padding: 5px 0; }

#menu_container ul li { float: left; }

#menu_container ul li a { display: block; color: #000; text-decoration: none; padding: 5px 10px; margin: 0 10px; }

#menu_container ul li a:hover { background-color: #000; color: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }

#menu_container ul li.current-menu-item a, #menu_container ul li.current_page_item a  { background-color: #000; color: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }

#menu_container .cat_menu { border-left: 1px dotted #DDDDDD; }



/* Content */

#content_container
{
	width: 100%;
}

#load_posts_container
{
	width: 768px;
	margin: 0 auto;
}

.home_post_box
{
	float: left;
	width: 516px;
	margin-right: 18px;
	margin-bottom: 25px;
	overflow: hidden;
	position: relative;
}

.home_blog_box_last { margin-right: 0 !important; }

.home_post_box img
{
	width: 516px;
	height: 318px;
}

.home_post_title_cont
{
	width: 364px;
	text-align: left;
	padding: 0;
	margin-top: 12px;
}

.home_post_title_cont h1
{
	color: #000;
	font-family: GothamMedium, Arial;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

.home_post_desc
{
	width: inherit;
	padding: 0;
	margin-top: 5px;
	display: block;
	overflow: hidden;
}

.home_post_desc p
{
	color: #000;
	font-family: GothamBook, Arial;
	font-size: 16px;
	margin: 0;
}

.load_more_cont
{
	width: 768px;
	margin: 0 auto;
	background-color: #0063a8;
}

.load_more_cont a
{
	overflow: hidden;
	width: inherit;
	text-align: center;
	text-decoration: none;
}

.load-more-button
{
	overflow: hidden;
}

.load-more-button p
{
	color: #fff;
	font-family: GothamMedium, Arial;
	font-size: 16px;
	margin: 12px 0;
}


.blog_left { float: left; width: 660px; }

.blog_left h1 { margin-top: 0; font-size: 17px; }

.blog_nav_cont { padding-bottom: 15px; }

.blog_nav_cont a { color: #000; text-decoration: none; }

.blog_nav_cont a:hover { text-decoration: underline; }



.home_post_box_last { margin-right: 0; }



#commentform input[type=submit] { background-color: #333; border: none; color: #fff; padding: 8px 10px; }



/* Sidebar */

#sidebar { float: right; width: 260px; }

.side_box { margin-bottom: 25px; }

.side_box h3 { background-color: #E4E4E2; padding: 5px 10px; color: #666666; font-size: 16px; margin: 0 0 10px 0; }

.side_box ul { list-style-type: none; padding: 0 10px; }

.side_box ul li { margin-bottom: 3px; }

.side_box .textwidget { padding: 0 10px; }

.side_box a { color: #000; text-decoration: none; }

.side_box a:hover { text-decoration: underline; }



/* Footer */

#footer
{
	margin-top: 35px;
	padding: 0;
	background-color: #0061a8; 
	overflow: hidden;
}

.footer_widgets_cont
{
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}


.footer-logo-cont
{
	overflow: hidden;
	width: 130px;
}

.footer-logo-cont p
{
	color: #fff;
	float: left;
}

.footer-logo
{
	float: left;
}

.footer-logo img
{
	width: 102px;
	height: 46px;
}


.footer_box { float: left; width: 320px; margin-right: 20px; margin-bottom: 20px; }

.footer_box_last { margin-right: 0; }

.footer_box h3 { font-size: 16px; }

.footer_box a { color: #000; text-decoration: none; }

.footer_box a:hover { text-decoration: underline; }



.footer_box ul, .footer_box ol { list-style-type: none; margin-left: 3px; }

.footer_box ul li, .footer_box ol li { margin-bottom: 3px; }



.footer_copyright { padding: 10px 25px; text-align: right; border-top: 1px dotted #DDDDDD; border-bottom: 1px dotted #DDDDDD; }

.footer_copyright a { color: #000; text-decoration: none; }

.footer_copyright a:hover { text-decoration: underline; }











/* for mobile 

@media screen and (max-width: 480px) {



#main_container { width: 320px; }

#header { padding: 10px 0px; }

.logo { float: none; max-width: 300px; margin: 0 auto; }

.search_cont { display: none; }



#menu_container { padding: 0px 0px; width: 320px; margin: 0 auto; }

#menu_container ul { list-style-type: none; width: 150px }

#menu_container ul li { float: none; }

#menu_container ul li a { padding: 5px 10px; margin: 0 0px 5px; }

#menu_container .cat_menu { border-left: none; float: right; }



#content_container { width: 320px; }

.featured_banner { display: none; }

.featured_banner img { width: 320px; height: 32px; }



.blog_box_cont { width: 300px; float: none; margin: 0 auto; }

.blog_content { float: none; width: 300px; margin-left: auto; margin-right: auto; }



.home_post_box { width: 300px; float: none; margin: 0 auto 25px; }

.home_post_box img { width: 300px; height: 200px; }



.home_post_title_cont { width: 300px; }

.home_post_desc { width: 200px; left: 35px; }



.blog_left { float: none; width: 300px; margin: 0 auto; }

.blog_left .left_content img { width: 300px; height:inherit; }

#commentform textarea { width: 300px; }

#sidebar { display: none; }

#footer { display: none; }



}

*/







/* for tablet 

@media only screen and (min-width: 768px) and (max-width: 959px) {



#main_container { width: 728px; }

#header { padding: 10px 0px; }



#menu_container { padding: 0px 0px; }

#content_container { width: 728px; }

.featured_banner img { width: 728px; height: 72px; }





.home_post_box { width: 230px; }

.home_post_box img { width: 230px; height: 109px; }





.home_post_box { width: 346px; margin-left: 9px; margin-right: 9px; }

.home_post_box img { width: 346px; height: 219px; }

.home_post_box_last { margin-right: 9px; }



.blog_box_cont .home_post_box { margin-left: 0; }



home_post_title_cont { width: 231px; }

.home_post_desc { width: 135px; left: 40px; }



.home_post_title_cont { width: 346px; }

.home_post_desc { width: 251px; left: 40px; }



.blog_left { float: left; width: 500px; }

.blog_left .left_content img { width: 500px; height:inherit; }

#sidebar { float: right; width: 200px; }



.footer_widgets_cont { padding: 0 0px 0 0px; }

.footer_box { width: 229px; }





#single_left { width: 500px; }

#single_left .single_content img { max-width: 500px; height: inherit; }

#sidebar { width: 200px; float: right; margin-top: 20px; }





.footer_box { width: 154px; }

.cat_menu_cont { width: 190px; }*/



}











/* @group rounded-corners pics */













/* IE6 fix */

.ie6_width .tr {

	right: -1px;

}



.ie6_width .br {

	right: -1px;

}



.ie6_height .br {

	bottom: -1px;

}



.ie6_height .bl {

	bottom: -1px;

}



/* @end */

