/* iPhone 5 Portrait */

@media only screen and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 320px) {

	/* Header */

	#header
	{
		padding: 10px 20px;
	}

	.header-cont
	{
		width: inherit;
	}

	#logo-nav
	{
		display: none;
	}

	.mob-logo-cont
	{
		display: block;
		float: left;
		width: 50%;
	}

	.logo
	{
		width: 106px;
		height: 48px;
	}

	.mob-button-cont
	{
		display: block;
		float: left;
		width: 50%;
	}

	.mob-button
	{
		float: right;
	}

	.mob-button img
	{
		width: 53px;
		height: 48px;
	}

	.header-button-cont
	{
		display: none;
	}

	.mob-dropdown
	{
		display: none;
		position: absolute;
		width: inherit;
		top: 71px;
		left: 0;
		background-color: #0061a8;
		z-index: 399;
	}

	.mob-dropdown ul
	{
		width: inherit;
		margin: 15px 0;
		overflow: hidden;
	}

	.mob-dropdown ul li
	{
		width: inherit;
		padding: 0 20px;
		margin-bottom: 15px;
	}

	.mob-dropdown ul li a
	{
		text-decoration: none;
	}

	.mob-dropdown ul li a p
	{
		color: #fff;
		font-size: 16pt;
		font-family: GothamBold;
		margin: 0;
		letter-spacing: 0.5pt;
	}

	.intro-cont
	{
		width: 280px;
	}

	.intro-cont h1
	{
		font-size: 20pt;
	}

	.intro-cont h2
	{
		font-size: 16pt;
	}

	/* Footer */

	#footer
	{
		padding-bottom: 25px; 
	}

	.footer_widgets_cont
	{
		width: inherit;

	}

	.footer-logo-cont
	{
		float: none;
		width: 50%;
		position: relative;
		left: 20px;
		top: 330px;
	}

	.footer-links-cont
	{
		width: 100%;
		float: none;
		position: relative;
		top: -120px;
	}

	.footer-links a
	{
		/* */
	}

	.footer-links a p
	{
		color: #fff;
		font-size: 16pt;
		font-family: GothamBold;
		margin: 0 0 15px 20px;
		letter-spacing: 0.5pt;
		text-transform: none;
	}

	#fl-col1
	{
		margin: 0;
	}

	#fl-col2
	{
		margin: 0;
	}

	#fl-col3
	{
		float: left;
	}

	/* index page */

	#load_posts_container
	{
		width: 280px;
	}

	.main-post-text
	{
		width: inherit;
	}

	.main-post-title h2
	{
		font-size: 24px
	}

	.main-post-desc p
	{
		font-size: 19px;
	}

	.main-post-tags
	{
		display: none;
	}

	.main-post-link
	{
		width: 155px;
	}

	.main-post-link a p
	{
		font-size: 22px;
	}

	.main-post-link a img
	{
		width: 22px;
		height: 22px;
		margin: 3px 0 0;
	}

	#other-posts
	{
		width: inherit;
	}

	.home_post_box
	{
		width: inherit;
		margin-right: 0;
	}

	.home_post_box img
	{
		width: 280px;
		height: 173px;
	}

	.home_post_title_cont
	{
		width: inherit;
	}

	.home_post_title_cont h2
	{
		font-size: 24px;
	}

	.home_post_desc p
	{
		font-size: 19px;
	}

	.load_more_cont
	{
		width: 280px;
	}

	.right-side
	{
		display: none;
	}

	.post-info
	{
		width: inherit;
	}



	/* Flexslider */

	.flex-direction-nav a
	{
		top: 25%;
	}

	.flexslider-caption
	{
		bottom: -48px;
		width: inherit;
		background: rgba(0, 0, 0, 1);
		background: rgb(0, 0, 0)\9; /* IE8 and below */
	}

	.flexslider-caption p
	{
		margin: 7px 0 0 10px;
		width: 270px;
	}

	.flex-control-thumbs
	{
		margin: 10px auto 0;
		width: 280px;
	}
	
	.flex-viewport
	{
		height: 185px;
	}

	.slides li
	{
		height: 136px !important;
	}

	.slides img
	{
		width: 280px !important;
		height: 136px !important;
	}

	#fs-post .flexslider-caption p
	{
		width: 300px;
	}

	#fs-post .post-slide
	{
		width: 320px !important;
		height: 155px !important;
	}

	/* Individual blog post (single.php) */
	.blog-content
	{
		width: inherit;
	}

	.post-details
	{
		width: 280px;
		margin: 0 auto;
	}

	.share-container
	{
		padding: 0 0 18px;
	}

	.ssba img
	{
		/* remember to set custom CSS of this to 0px in the plugin config page */
		width: 60px !important;
	}

	.ssba_sharecount
	{
		margin: 16px 12px 0 6px;
		padding: 0 !important;
		font-size: 20px !important;
	}

	.ssba_email_share
	{
		display: none;
	}

	.printfriendly
	{
		display: none;
	}

	.post-info h1
	{
		font-size: 26px;
	}

	.post-info p
	{
		font-size: 22px;
		margin: 10px 0;
	}

	.blog-text-container
	{
		width: 280px;
		margin: 0 auto 15px;
	}

	.blog-text-container p
	{
		width: inherit;
		font-size: 20px;
		line-height: 28px;
	}

	.post-tag-container
	{
		width: 280px;
		margin: 0 auto;
	}

	.post-tag-container p
	{
		font-size: 18px;
	}

	.post-tags
	{
		width: inherit;
		margin: 30px 0 0;
	}

	.post-tag
	{
		margin: 0 20px 25px 0;
	}

	.tag-left
	{
		width: 36px;
		height: 45px;
	}

	.tag-right
	{
		padding: 11px 10px 12px;
	}

	.tag-right a
	{
		font-size: 18px;
	}

	/* Category page */
	.cat-header
	{
		width: inherit;
	}

	.cat-desc
	{
		width: inherit;
	}

	.cat-desc p
	{
		font-size: 20px;
	}

	.cat-name h1
	{
		font-size: 28px;
	}

	/* Author page */
	.author-cont
	{
		width: 280px;
	}

	.author-info
	{
		width: inherit;
	}

	.author-cont h1
	{
		font-size: 28px;
	}

	.author-description p
	{
		font-size: 20px;
		line-height: 28px;
	}

	/* blank page template */

	.blank-content
	{
		width: 280px;
	}

	.blank-header h1
	{
		font-size: 28px;
	}

	.blank-text p
	{
		font-size: 22px;
		line-height: 28px;
	}

	/* 404 page template */
	.error-content
	{
		width: inherit;
	}

	.error-image-main img
	{
		width: 320px;
		height: 155px;
	}

	.error-text
	{
		width: 280px;
		margin: 0 auto 25px;
	}

	.error-text h1
	{
		font-size: 28px;
	}

	.error-text p
	{
		font-size: 22px;
		line-height: 28px;
	}

	.error-text p a
	{
		color: #0063a8;
	}

	.recent-post-cont
	{
		width: 280px;
	}

	.recent-post-cont h2
	{
		color: #0063a8;
		font-family: GothamBold, "Arial Black";
		font-size: 24px;
		margin: 0;
	}

	.recent-post
	{
		width: inherit;
		margin: 30px 0 0;
		padding: 0 0 20px;
		border-bottom: 1px #ccc solid;
	}

	.recent-image
	{
		width: 280px;
		height: 136px;
	}

	.recent-image img
	{
		width: 280px;
		height: 136px;
	}

	.v-divider
	{
		display: none;
	}

	/* About page */
	.about-text-cont
	{
		width: 280px;
		margin: 0 auto 30px;
	}

	.about-header h1
	{
		font-size: 28px;
	}

	.about-text p
	{
		font-size: 22px;
		line-height: 28px;
	}

	.author-list-cont
	{
		width: 280px;
		margin: 0 auto 30px;
	}

	.author-list-cont h2
	{
		font-size: 24px;
	}

	.author-list
	{
		margin: 0 0 10px;
	}

	.author-list li
	{
		float: none;
		margin: 0 30px 30px 0;
	}

	.author-list li a
	{
		font-size: 22px;
	}
}